/* Without setting height the slides will take up the height of the slide's content */
ion-slides {
  height: calc(100% - 25px);
}
.app-title {
  padding-top: 75px;
  display: flex;
  height: 30%;
  justify-content: center;
}
.app-slide-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slide-block {
  padding: 0 16px;
  text-align: left;
}

.slide-block h2 {
  font-weight: bold;
}

.slide-button {
  padding: 0 16px 27px;
  width: 100%;
}
